.main-container {
    /* background: #f3f3f3; */
    background: #c1ac96;
    width: 100%;
    height: 100vh;
    padding-top: 120px;
}
.logo2 {
    width: 250px;
    height: 250px;
    background: url(../img/sexy.gif) no-repeat 1px -1px;
    background-size: 300px;
}
.login-area {
    width: 300px;
    margin: 0 auto;
}

.logo img {
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-left: 25px;
    margin-bottom: 15px;
}
.input-area .layui-form-item .login-input {
    width: 300px;
    margin-bottom: 10px;
}
.login-btn {
    width: 100%;
}
.welcome {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #676a6c;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}