@charset "UTF-8";
a {
    cursor: pointer;
}

.user-info-form {
    width: 800px;
    margin: 0 auto;
}

.layui-progress {
    margin: 30px;
}
.crazy-box {
    width: 40%;
    position: absolute;
    top: 150px;
    left: 100px;
    transform: rotate(270deg);
}
.table-box {
    width: 70%;
    margin: 0 auto;
}
.submit-btn {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
.layui-table-view {
    margin: 0 auto;
}