@charset "UTF-8";

.layui-body {
    padding: 15px;
}
.main-wrap {
    width: 100%;
    margin-top: 30px;
}
.main-wrap .container {
    width: 800px;
    margin: 0 auto;
}
a {
    cursor: pointer;
}
.layui-progress {
    margin: 30px;
}
.crazy-box {
    width: 40%;
    position: absolute;
    top: 150px;
    left: 100px;
    transform: rotate(270deg);
}
.table-box {
    width: 70%;
    margin: 0 auto;
}
.submit-btn {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
.layui-table-view {
    margin: 0 auto;
}

/* form样式 */
.layui-form-item.job-form {
    width: 300px;
}
.layui-form-item {
    width: 60%;
}

.required {
    background: url(../img/require.png) no-repeat left center;
    padding-left: 15px;
}
.form-submit {
    margin-top: 30px;
}
.imgPreview {
    width: 300px;
    float: right;
}

/* 时间轴 */
.timeline-box, .page-area, .layer-area {
    width: 800px;
    margin: 30px auto 0;
}

/* 轮播图 */
.layui-carousel {
    margin: 0 auto;
}
.carousel-items img {
    width: 100%;
    height: 100%;
}

/* 树形菜单 */
.layui-tree-skin-gay .layui-tree-branch{
    color: #1E9FFF;
}